BasedOnStyle: Google
IndentWidth: 2
UseTab: false
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializersBeforeComma: true
SpaceBeforeAssignmentOperators: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
UseTab: Never
AlwaysBreakTemplateDeclarations: true
SpacesInAngles: true
AlignOperands: true
SortIncludes: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AccessModifierOffset: -2
AlignEscapedNewlinesLeft: true
#AlignConsecutiveAssignments: true
TabWidth: 2
BreakBeforeBraces: Allman
Standard: C++11
AllowShortIfStatementsOnASingleLine: false
